<div class="container-fluid">
  <h1>Emoloyee Management App</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
    laboriosam architecto sequi laborum praesentium, alias fugit eius minus,
    dolor quae magnam maiores? Harum ipsam earum hic, consectetur dicta impedit
    fuga ullam quibusdam fugit corrupti.
  </p>
  <button class="btn btn-primary" routerLink="/employee/add">Sign Up</button>
  <br/>
  <hr/>
  <h4>You can see all the employee list below</h4>
  <button class="btn btn-primary" routerLink="/employees">employee list</button>

</div>
